body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.container {
  padding: 20px;
}

.issue-card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.issue-card button {
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}